<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  </head>
  <body background="../static/images/fondoweb.jpg">
    <h1 align=center style="color:white;">Welcome!</h1>
    <div class = "row">
        <form class="" action="http://54.207.214.28:80/static/html/users.html" method='GET'>
          <input class="btn btn-secondary" type="submit" name="submit" value="USERS"/>
        </form>
        <form class="" action="http://54.207.214.28:80/static/html/games.html" method='GET'>
          <input class="btn btn-secondary" type="submit" name="submit" value="GAMES"/>
        </form>
        <form class="" action="http://54.207.214.28:80/static/html/CRUD_reviews.html" method='GET'>
          <input class="btn btn-secondary" type="submit" name="submit" value="REVIEWS"/>
        </form>
    </div>

  </body>
</html>
